body {
  background: bisque;
}
/* font color = fc */
:root {
  --navbackground: #203549;
  --navbutton: #f39313;
  --fcblue: #057999; /*in white background*/
  --pagecolor: #007ea4;
  --buttoninpage: #00afaa;
  --fcwhite: #ffffff; /*in pagecolor*/
  --fcblack: #000000; /*in white background*/
  --fcsubheader: #203549;
}

.navbar-logo-container {
  height: inherit;
  width: 100px;
}

.navbar-logo {
  max-width: 100%;
  max-height: 100%;
}
