/* font color = fc */
:root {
  --mydarkblue: rgb(32, 53, 73);
  --myorange: rgb(243, 147, 19);
  --myblue: rgb(5, 121, 153); /*in white background*/
  --mylightblue: rgb(0, 255, 255);
}

body {
  font-family: "segoe", "Segoe UI", Arial, sans-serif;
  background: url("./assets/art/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
}

/*#region keyframes*/

@keyframes fadeInWithTranslateY {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transitionQuiz {
  from {
    left: -100vw;
  }
  to {
    left: 0;
  }
}

@keyframes transitionQuizBackwards {
  from {
    left: 0;
  }
  to {
    left: -100vw;
  }
}

@keyframes loopFrame {
  0% {
    box-shadow: -8.13vh -8.13vh 0 -6.5vh var(--mydarkblue),
      8.13vh 8.13vh 0 -6.5vh var(--mydarkblue);
  }
  25% {
    box-shadow: 8.13vh -8.13vh 0 -6.5vh var(--mydarkblue),
      -8.13vh 8.13vh 0 -6.5vh var(--mydarkblue);
  }
  50% {
    box-shadow: 8.13vh 8.13vh 0 -6.5vh var(--mydarkblue),
      -8.13vh -8.13vh 0 -6.5vh var(--mydarkblue);
  }
  75% {
    box-shadow: -8.13vh 8.13vh 0 -6.5vh var(--mydarkblue),
      8.13vh -8.13vh 0 -6.5vh var(--mydarkblue);
  }
  100% {
    box-shadow: -8.13vh -8.13vh 0 -6.5vh var(--mydarkblue),
      8.13vh 8.13vh 0 -6.5vh var(--mydarkblue);
  }
}

@keyframes flipTwoSided {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}

/*#endregion keyframes*/

/*#region AlertifyJS*/

.ajs-dialog {
  background-color: var(--myorange) !important;
}

.ajs-footer {
  background-color: inherit !important;
}

.ajs-header {
  display: none;
}

.ajs-error {
  color: white;
  background: rgb(233, 47, 48) !important;
  border-radius: 10px;
}

.ajs-success {
  color: #000033;
  background: rgb(128, 175, 114) !important;
  border-radius: 10px;
}

.ajs-warning {
  color: #000033;
  background: var(--myorange) !important;
  border-radius: 10px;
}

/*#endregion AlertifyJS*/

/*#region public home page*/
.home-public-head {
  width: 100%;
  padding-top: 130px;
}
.home-public-head h1 {
  text-align: center;
  font-size: 60px;
  color: rgb(0, 0, 40);
  animation: fadeInWithTranslateY 1s;
}
.home-public-head h2 {
  text-align: center;
  font-size: 50px;
  font-style: italic;
  color: rgb(0, 0, 60);
  animation: fadeInWithTranslateY 1.5s;
}
.home-public-head p {
  text-align: center;
  font-size: 30px;
  color: var(--myblue);
  font-style: oblique;
  animation: fadeInWithTranslateY 2s;
}
.home-public-head button {
  border-radius: 4px;
  background: var(--myorange);
  padding: 10px 50px;
  color: black;
  border-style: solid;
  border-color: black;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all 0.2s ease-in-out;
  font-style: bold;
  font-size: 20px;
  letter-spacing: 0.1em;
  animation: fadeIn 2s;
  /*top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);*/
}
.home-public-head button:hover {
  transition: all 0.2s ease-in-out;
  background: bisque;
  padding: 10px 60px;
  color: #808080;
}

.home-public-mid {
  width: 40%;
  padding-top: 20px;
  margin-left: 5%;
  float: left;
}
.home-public-mid h1 {
  text-align: center;
  font-size: 60px;
  color: rgb(0, 0, 40);
}
.home-public-mid p {
  text-align: center;
  font-size: 20px;
  color: var(--myblue);
}
.home-public-mid-img {
  width: 40%;
  height: 26.35vw;
  margin-left: 55%;
  background-image: url("./assets/art/klouz.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  box-shadow: -3.125rem -3.125rem 0 -2.5rem var(--mydarkblue),
    3.125rem 3.125rem 0 -2.5rem var(--mydarkblue);
  transition: filter 0.5s ease-in-out;
  animation: loopFrame 5s infinite;
}

.home-public-mid-other {
  width: 40%;
  padding-top: 100px;
  margin-left: 55%;
  float: left;
}
.home-public-mid-other h1 {
  text-align: center;
  font-size: 60px;
  color: rgb(0, 0, 40);
}
.home-public-mid-other p {
  text-align: center;
  font-size: 20px;
  color: var(--myblue);
}
.home-public-mid-other-img {
  margin-left: 10%;
  width: 350px;
  height: 350px;
}
.home-public-mid-other-img div {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3),
    0 12px 20px -10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3),
    0 12px 20px -10px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3),
    0 12px 20px -10px rgba(0, 0, 0, 0.4);
}
.home-public-mid-other-img #side-a {
  background-image: url("./assets/art/logo/logo_black_circle_only.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.home-public-mid-other-img #side-b {
  background-image: url("./assets/art/logo/logo_black_text_only.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.home-public-mid-other-img {
  transform-style: preserve-3d;
}
.home-public-mid-other-img div {
  position: absolute;
  backface-visibility: hidden;
}
.home-public-mid-other-img #side-b {
  transform: rotateY(-180deg);
}
.home-public-mid-other-img {
  animation: flipTwoSided 5s linear infinite;
}

.home-public-bot {
  width: 100%;
  margin-top: 150px;
}
.home-public-bot h1 {
  text-align: center;
  font-size: 60px;
  color: rgb(0, 0, 40);
}
.home-public-bot .feature-img {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 20%;
}
.home-public-bot .feature-img li {
  width: 50px;
  height: 50px;
  margin-top: 0.9em;
  margin-bottom: 2.3em;
  margin-left: 80%;
}
.home-public-bot .feature-img li#featureOne {
  background-image: url("./assets/art/icon/quiz.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.home-public-bot .feature-img li#featureTwo {
  background-image: url("./assets/art/icon/info.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.home-public-bot .feature-img li#featureThree {
  background-image: url("./assets/art/icon/meeting.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.home-public-bot .feature-img li#featureFour {
  background-image: url("./assets/art/icon/forum.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.home-public-bot .feature-desc {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
.home-public-bot .feature-desc li {
  background-color: bisque;
  color: var(--myblue);
  font-size: 15px;
  border: 0.3em solid var(--myorange);
  border-radius: 0.5em;
  display: inline-block;
  width: 60%;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 1s;
  margin: 1em;
  margin-right: 13em;
}
.home-public-bot .feature-desc li span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--myorange);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}
.home-public-bot .feature-desc li#featureOne::before {
  content: "Personality Quiz";
}
.home-public-bot .feature-desc li#featureTwo::before {
  content: "All Kind Of Information";
}
.home-public-bot .feature-desc li#featureThree::before {
  content: "Meetings With Advisors";
}
.home-public-bot .feature-desc li#featureFour::before {
  content: "Community Forum";
}
.home-public-bot .feature-desc li:hover#featureOne::before {
  content: "All about your personality type and what specialty might suit you";
}
.home-public-bot .feature-desc li:hover#featureTwo::before {
  content: "All the info you need about a specialty: Videos, Programs, Curricilums..";
}
.home-public-bot .feature-desc li:hover#featureThree::before {
  content: "Meet with people who can answer your in-depth questions";
}
.home-public-bot .feature-desc li:hover#featureFour::before {
  content: "Learn to share & Share to learn from other's opinions and experiences";
}
.home-public-bot .feature-desc li:hover {
  color: black;
}
.home-public-bot .feature-desc li:hover span {
  transform: translateY(0) scale(2);
}
.home-public-bot .feature-desc li span:nth-child(1) {
  --n: 1;
}
.home-public-bot .feature-desc li span:nth-child(2) {
  --n: 2;
}
.home-public-bot .feature-desc li span:nth-child(3) {
  --n: 3;
}
.home-public-bot .feature-desc li span:nth-child(4) {
  --n: 4;
}

.home-public-team {
  width: 100%;
  margin-top: 100px;
}
.home-public-team h1 {
  text-align: center;
  font-size: 60px;
  color: rgb(0, 0, 40);
}
.home-public-team ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
.home-public-team li {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  font-style: bolder;
  color: var(--mydarkblue);
  width: 16%;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
.home-public-team li div {
  background-color: bisque;
  width: auto;
  height: inherit;
  padding-top: 100%;
  border-radius: 50%;
  border-style: solid;
}
.home-public-team li img {
  width: 15%;
  height: auto;
  margin-right: 2.5%;
  margin-left: 2.5%;
}

/*#endregion public home page*/

/*#region navbar logo*/
.navbar-logo-container {
  height: inherit;
  width: 100px;
}

.navbar-logo {
  max-width: 100%;
  max-height: 100%;
}
/*#endregion navbar logo*/

/*#region page footer*/
.public-footer {
  width: 100%;
  height: 200px;
  margin-top: 200px;
  background-color: var(--mydarkblue);
}
.public-footer-logo {
  background-image: url("./assets/art/logo/logo_white.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 75%;
  width: 150px;
  margin-left: 10%;
  float: left;
}
.public-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 40%;
  margin-left: 60%;
  margin-top: 40px;
}
.public-footer li {
  display: inline-block;
  margin-right: 10%;
  color: white;
  font-style: bold;
}
.public-footer li a {
  text-decoration: none;
}
.public-footer li a:hover {
  text-decoration: underline;
}
.public-footer li a:visited {
  color: white;
}
/*#endregion page footer*/

/*#region quiz*/
.quiz-intro {
  margin-top: 12vw;
}
.quiz-intro h1 {
  text-align: center;
  font-size: 60px;
  color: rgb(0, 0, 40);
  animation: fadeInWithTranslateY 1s;
}
.quiz-intro #subtitle {
  text-align: center;
  font-size: 30px;
  color: var(--myblue);
  font-style: oblique;
  margin-left: 12%;
  margin-right: 12%;
  animation: fadeInWithTranslateY 1.5s;
}
.quiz-intro #desc {
  text-align: center;
  font-size: 16px;
  color: rgb(0, 0, 40);
  font-style: italic;
  margin-left: 14%;
  margin-right: 14%;
  animation: fadeIn 1.5s;
}
.quiz-intro button {
  border-radius: 25%;
  background: var(--mylightblue);
  padding: 10px 30px;
  border-style: solid;
  border-color: black;
  color: black;
  font-family: inherit;
  letter-spacing: 0.1rem;
  font-style: bolder;
  font-size: 16px;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: 0.25s;
  animation: fadeIn 2s;
}
.quiz-intro button:hover {
  background: var(--myblue);
}

.quiz-container {
  width: 70%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--mydarkblue);
  color: white;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid black;
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7B %3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%2300ffff' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E")
    1;
}
.quiz-container button {
  border-radius: 25%;
  background: var(--mylightblue);
  padding: 10px 30px;
  border-style: solid;
  border-color: black;
  color: black;
  font-family: inherit;
  letter-spacing: 0.1rem;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  font-style: bolder;
  font-size: 16px;
  transition: 0.25s;
}
.quiz-container button:hover {
  background: var(--myblue);
}
.quiz-question {
  width: 100%;
  text-align: center;
  margin: 0;
}
.quiz-question p {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  font-style: italic;
}
.quiz-question #text {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  margin-left: -0.8%;
}
.quiz-question #radio {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 2.5%;
  scale: 140%;
}
.quiz-question ul li {
  display: inline-block;
  margin-right: 13%;
  margin-left: 13%;
}
.quiz-question ul input {
  display: inline-block;
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
}

.quiz-transition-start {
  width: 100%;
  height: 20vh;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 40, 1) 0%,
    rgba(0, 255, 255, 1) 100%
  );
  position: absolute;
  z-index: 10;
  left: -100vw;
}
.quiz-transition-start#n1 {
  animation: transitionQuiz 0.5s forwards;
  top: 0;
}
.quiz-transition-start#n2 {
  animation: transitionQuiz 0.75s forwards;
  top: 20vh;
}
.quiz-transition-start#n3 {
  animation: transitionQuiz 1s forwards;
  top: 40vh;
}
.quiz-transition-start#n4 {
  animation: transitionQuiz 1.25s forwards;
  top: 60vh;
}
.quiz-transition-start#n5 {
  animation: transitionQuiz 1.5s forwards;
  top: 80vh;
}
.quiz-transition-start#n6 {
  animation: transitionQuiz 1.75s forwards;
  top: 100vh;
}

.quiz-transition-end-waiting {
  width: 100%;
  height: 20vh;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 40, 1) 0%,
    rgba(0, 255, 255, 1) 100%
  );
  position: absolute;
  z-index: 10;
}
.quiz-transition-end-waiting p {
  text-align: center;
  font-size: 50px;
  color: white;
  animation: fadeIn 0.25s;
}
.quiz-transition-end p {
  text-align: center;
  font-size: 50px;
  color: white;
}
.quiz-transition-end-waiting#n1 {
  top: 0;
}
.quiz-transition-end-waiting#n2 {
  top: 20vh;
}
.quiz-transition-end-waiting#n3 {
  top: 40vh;
}
.quiz-transition-end-waiting#n4 {
  top: 60vh;
}
.quiz-transition-end-waiting#n5 {
  top: 80vh;
}
.quiz-transition-end-waiting#n6 {
  top: 100vh;
}

.quiz-transition-end {
  width: 100%;
  height: 20vh;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 40, 1) 0%,
    rgba(0, 255, 255, 1) 100%
  );
  position: absolute;
  z-index: 10;
}
.quiz-transition-end#n1 {
  top: 0;
  animation: transitionQuizBackwards 0.5s forwards;
}
.quiz-transition-end#n2 {
  top: 20vh;
  animation: transitionQuizBackwards 0.75s forwards;
}
.quiz-transition-end#n3 {
  top: 40vh;
  animation: transitionQuizBackwards 1s forwards;
}
.quiz-transition-end#n4 {
  top: 60vh;
  animation: transitionQuizBackwards 1.25s forwards;
}
.quiz-transition-end#n5 {
  top: 80vh;
  animation: transitionQuizBackwards 1.5s forwards;
}
.quiz-transition-end#n6 {
  top: 100vh;
  animation: transitionQuizBackwards 1.75s forwards;
}

/*#endregion quiz*/
