.navbar {
  top: 0;
  left: 0;
  position: fixed;
  height: 11.5vh;
  width: 100%;
  background: rgb(32, 53, 73);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  z-index: 12;
}

.navbar-logo-container {
  height: inherit;
  width: 11vh;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  margin-right: 50px;
  margin-left: 50px;
}

.navbar-logo {
  max-width: 100%;
  max-height: 100%;
  transition: 0.5s;
}
.navbar-logo:hover {
  opacity: 0.6;
}

.btn {
  text-decoration: none;
  padding: 10px 22px;
  color: #000000;
  background: #f39313;
  text-transform: uppercase;
  white-space: nowrap;
  outline: none;
  border: none;
  font-weight: 550;
  border-radius: 0.1875cm;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin-left: 24px;
}
.btn-container {
  margin-right: 24px;
  display: flex;
  align-items: center;
}
.btn:hover {
  color: #808080;
  background: #fff;
  transition: all 0.2s ease-in-out;
}

.nav-items {
  display: flex;
  list-style: none;
  text-align: center;
  width: 62%;
  justify-content: flex-start;
  margin-right: 32px;
}
.nav-item {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  height: 11.5vh;
  margin-right: 2%;
  margin-left: 2%;
}
.nav-item a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  padding: 6px 16px;
  border-radius: 5px;
  transition: 0.1s;
}

.nav-item::before {
  content: "";
  position: absolute;
  height: 25%;
  border-left: 2px solid white;
  transition: 0.1s;
}
.nav-item:hover a {
  color: cyan;
}
.nav-item:hover::before {
  border-left: 4px solid cyan;
}

.services-subMenu {
  width: 10vw;
  position: absolute;
  top: 10.5vh; /*10vh*/
  list-style: none;
  text-align: start;
  box-shadow: 0px 0px 10px 2px rgba(0, 255, 255, 0.5);
  padding: 0 !important;
  animation: fadeIn 0.3s;
}
.services-subMenu li {
  background-color: rgb(32, 53, 73);
  cursor: pointer;
}
.services-subMenu li a:hover {
  background: rgba(255, 255, 255);
  transition: 0.5s;
  color: rgb(32, 53, 73) !important;
}
.services-subMenu.clicked {
  display: none;
}
.subMenu-item {
  display: block;
  width: 80%;
  height: 100%;
  text-decoration: none;
  color: white !important;
  padding: 16px;
  border-radius: 0 !important;
}

.services-subMenu2 {
  width: 18vw;
  position: absolute;
  top: 10.5vh;
  list-style: none;
  text-align: start;
  box-shadow: 0px 0px 10px 2px rgba(0, 255, 255, 0.5);
  padding: 0 !important;
  animation: fadeIn 0.3s;
}
.services-subMenu2 li {
  background-color: rgb(32, 53, 73);
  cursor: pointer;
}
.services-subMenu2 li a:hover {
  background: rgba(255, 255, 255);
  transition: 0.5s;
  color: rgb(32, 53, 73) !important;
}
.services-subMenu.clicked2 {
  display: none;
}
.subMenu-item2 {
  display: block;
  width: 89%;
  height: 100%;
  text-decoration: none;
  color: white !important;
  padding: 16px;
  border-radius: 0 !important;
}

.services-subMenu3 {
  width: 10vw;
  position: absolute;
  top: 10.5vh;
  list-style: none;
  text-align: start;
  box-shadow: 0px 0px 10px 2px rgba(0, 255, 255, 0.5);
  padding: 0 !important;
  animation: fadeIn 0.3s;
}
.services-subMenu3 li {
  background-color: rgb(32, 53, 73);
  cursor: pointer;
}
.services-subMenu3 li a:hover {
  background: rgba(255, 255, 255);
  transition: 0.5s;
  color: rgb(32, 53, 73) !important;
}
.services-subMenu.clicked3 {
  display: none;
}
.subMenu-item3 {
  display: block;
  width: 80%;
  height: 100%;
  text-decoration: none;
  color: white !important;
  padding: 16px;
  border-radius: 0 !important;
}
